.page-list .pagination {float:left;}
.page-list .pagination span {cursor: pointer;}
.page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
.page-list .pagination .separate span:hover {background: none;}
.page-list .page-total {float:left; margin: 25px 20px;}
.page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
.page-list .page-total input {width: 40px; padding-left:3px;}
.page-list .page-total select {width: 50px;}
/*添加人员信息*/
.addpeople .nav-tabs > li{
    background-color: #676767;
    color: #fff;
    margin: auto -1px;
}
.addpeople > tab>tab-heading{
    border: 0px;
}
.col-padding{
    padding: 0px;
}
.input_controller {
    position: absolute;
    top: 0px;
    cursor: pointer;
    right: -3px;
    border-radius: 0px 4px 4px 0px;
    height: 34px;
    width: 36px;
    display: table-cell;
    text-align: center;
    border: 1px solid #CCC;
    background-color: #E0E0E0;
    background-image: linear-gradient(#FFF 0%, #E0E0E0 100%);
    background-position: 0px -15px;
    background-repeat: repeat-x;
}

.btn-padding{
    padding: 5px;
}
.fixtop{
    position:fixed;
    top:50px;
    z-index:1000;
}
.analysis{
    margin-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.nav-title{
    font-size: 18px;
}
.left-button{
    margin:5px;
}
/*!*自动搜索*!*/
/*.autocomplete-suggestions{*/
    /*border: 1px #ccc solid;*/
    /*background-color: #ccc;*/
    /*width: 15%;*/
    /*margin-right: 40%;*/
/*}*/
/*.autocomplete-selected{*/
    /*background-color: #676767;*/
    /*color: #fff;*/
/*}*/
/*标签定义*/
.addziduan{margin-left: 3px}
.addguanxi{margin-right: 3px}
.addzhi{margin-right: 4px}
.addluoji{width: 60%;margin-left: 40%;}
/*管理标签调整*/
.markerManage{
    width: 40%;
    margin-left: 60%;
    margin-top: 2%;
    color: #336699!important;
    background-color: #fff;
}
.markerHr{
    margin-top:2%;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}
/*所有表格样式*/

thead{
    border-bottom: 0px;
    margin-top: 10px;
    color: #fff;
    background-color: #676767;
}
.lastTd{
    margin-right: 0px;
}
/*左右布局*/
.leftNav{
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    width: 250px;
}
@media (max-width: 992px) {
    .leftNav{
        width: 100%;
    }
}
/*添加按钮*/
.btn-add{
    position: absolute;
    right: 0;
    top:0;
    height: 80%;
    margin-top: 4px;
}
/*班子调配按钮*/
.btn-href{
    color: #ffffff !important;
    background-color: #2E7BC9;
    border-color: #2E7BC9;
    margin-top: 2px;
}
.btn-href:hover,
.btn-href:focus,
.btn-href:active,
.btn-href.active,
.open .dropdown-toggle.btn-href {
    color: #ffffff !important;
    background-color: #1E7BC9;
    border-color: #0E7BC9;
}

/*字体设置*/
.nav-title{
    font-family: 微软雅黑;
    font-size: 110%;
}
/*需要调整的问题*/
.list-group-item{
    border-left:0px;
    border-right: 0px;
}
/*工作提示右table*/
.panel {
    border-color: #FFFFFF;
}
table{
    border-collapse:collapse;
    border:0px solid #999;
    font-size:14px;
}
/*头像信息*/
.panel-card{

}

/*按信息集浏览*/
.xinxi .nav-tabs > li{
    background-color: #aaa;
    color: #336699;
    margin: auto -1px;
}
.xinxi > tab>tab-heading{
    border: 0px;
}


/*导航栏样式*/

.nav-pills > li.active > a {
    color: #555 !important;
    background-color: #d9d9d9;
    font-weight: bolder;
}
.nav-pills > li > a:hover{
    background-color: #f7f7f7;
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:visited,
.nav-pills > li.active > a:active {
    color: #000;
    background-color: #D9D9D9;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {

    font-size: 100%;
    font-weight: bold;
    background-color: #336699;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #fff;
}
.nav-title:hover{
    color: #fff;
    text-decoration: underline;
}

/*登陆界面*/
.demo-label{
    margin:20px 20px 0 0;display:inline-block
}
.demo-radio{
    display:none
}
.demo-radioInput{
    background-color:#fff;
    border:1px solid rgba(0,0,0,0.15);
    border-radius:100%;display:inline-block;
    height:16px;margin-right:10px;
    margin-top:-1px;
    vertical-align:middle;
    width:16px;
    line-height:1
}
.demo-radio:checked + .demo-radioInput:after{
    background-color:#000;
    border-radius:100%;
    content:"";
    display:inline-block;
    height:12px;
    width:12px;
    margin: 1px;
}
.demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{
    border-radius:0
}
.blue-900{
    background-color: #fff;
}
.form-control-singin{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}
.form-control:focus{
    border: 1px #000 solid;
}
.singinFoot{
    height: 10%;
    background-color: #E9E9E9;
    width: 100%;
    position:fixed;
    bottom:0;
}
.panel-body > [aria-disabled=false]{
    background-color: #2E7BC9;
    color: #ffffff;
}
.btnLogin{
    width: 20%;
    margin-top: 7%;
}
.singinInput{
    padding-top:10%;
    padding-left: 5%;
}
/*人员管理*/
@media (min-width: 1400px) and (max-width: 1600px) {
    .peoplemng{
        margin-left: 70%;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .peoplemng{
        margin-left: 60%;
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    .peoplemng {
        margin-left: 47%;
    }
}
/*免职头像居中*/
.deploy{
    display: table;
    width: 100%;
}
.deployframe{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.deploycontent{
    display: inline-block;

}

/*拟任职务*/
.selectAdjust{
    width:65%;
    border: 0px;
    border-bottom: 1px #ccc solid;
}

/*单位树图标*/

.navi ul.nav li li a {
    padding-left: 10%;
}
.navi ul.nav li a > i {
    position: relative;
    float: left;
    width: 40px;
    margin: -10px -10px;
    overflow: hidden;
    line-height: 36px;
    text-align: center;
}
.glyphicon-th-large{
    color: #8AC1F2;
}
.treeTitle h1{
    color: #333;
    font-weight: bold;
    font-size: 16px;
    font-family: 微软雅黑;
    margin-left: 5%;
    margin-bottom: 10px;
    width: 60%;
    height:100%;

}

.treeIcon{
    background-color: #8AC1F2;
    width: 55px;
    height:55px;
}
.treeMain{
    background-color:#f7f7f7;
    height: 100%;

}

.treeMain li>a:hover{
    background-color: #f7f7f7;
    text-decoration: underline;
}

/*整体色调*/
.bg-light {
    font-family: 微软雅黑;
    color: #444;
    background-color: #f7f7f7;
}
.bg-light.dk, .bg-light .dk {
    background-color: #f7f7f7;
}
.workBgColor{
    background-color: #fff;
}

/*整体边框*/
.b {
    border: 0px solid rgba(0, 0, 0, 0.05);
}

.b-a {
    border: 0px solid #dee5e7;
}

.b-t {
    border-top: 0px solid #dee5e7;
}

.b-r {
    border-right: 0px solid #dee5e7;
}

.b-b {
    border-bottom: 0px solid #dee5e7;
}

.b-l {
    border-left: 0px solid #dee5e7;
}

/*自适应屏幕*/
@media (max-width: 366px){
    #header,#headerLayout{
        margin-top: 50px;
    }
}
@media (min-width: 366px) and (max-width: 768px) {
    #header,#headerLayout{
        margin-top: 0px;
    }
}
@media (min-width: 768px) and (max-width: 891px) {
    #header,#headerLayout{
        margin-top: 102px;
    }
}
@media (min-width: 892px) and (max-width: 964px) {
    #header,#headerLayout{
        margin-top: 50px;
    }
}
@media (min-width: 965px) and (max-width: 1085px) {
    #header,#headerLayout{
        margin-top: 50px;
    }
}

@media (min-width: 1086px) and (max-width: 1119px) {
    #header,#headerLayout{
        margin-top: 50px;
    }
}
@media (min-width: 1119px) and (max-width: 1210px) {
    #header,#headerLayout{
        margin-top: 50px;
    }
}

@media (min-width: 1210px) and (max-width: 1262px) {
    #header,#headerLayout{
        margin-top: 0px;
    }
}
@media (min-width: 1263px){
    #header,#headerLayout{
        margin-top: 0px;
    }
}

/*自定义按钮mydefault*/
.btn-mydefault {
    color: #58666e !important;
    background-color: #fcfdfd;
    background-color: #fff;
    border-color: #dee5e7;
    border-bottom-color: #d8e1e3;
    -webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
    box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
}

.btn-mydefault:hover,
.btn-mydefault:focus,
.btn-mydefault:active,
.btn-mydefault.active,
.open .dropdown-toggle.btn-default {
    color: #ffffff !important;
    background-color: #2E7BC9;
    border-color: #c7d3d6;
}

.btn-mydefault:active,
.btn-mydefault.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-mydefault.disabled,
.btn-mydefault[disabled],
fieldset[disabled] .btn-mydefault,
.btn-mydefault.disabled:hover,
.btn-mydefault[disabled]:hover,
fieldset[disabled] .btn-mydefault:hover,
.btn-mydefault.disabled:focus,
.btn-mydefault[disabled]:focus,
fieldset[disabled] .btn-mydefault:focus,
.btn-mydefault.disabled:active,
.btn-mydefault[disabled]:active,
fieldset[disabled] .btn-mydefault:active,
.btn-mydefault.disabled.active,
.btn-mydefault[disabled].active,
fieldset[disabled] .btn-mydefault.active {
    background-color: #fcfdfd;
    border-color: #dee5e7;
}

.btn-mydefault.btn-bg {
    border-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

/*自定义标签*/
.table > tbody > tr > .mytd {
    padding: 8px 0px;
    border-top: 1px solid #eaeff0;
}
.table > tbody > tr > .mytd2 {
    padding-left: 0px;
    padding-right: 1px;
    border-top: 1px solid #eaeff0;
}
.modal-dialog{
    margin-top: 160px;
}
.modal-title{
}
.control-label{
    text-align: left;
}
.secondtable{
    background-color: #999;
}
.mytable>tbody>tr>td{
    border: 0px;
}
.secondtabletitle{
    background-color: #a7a7a7;
    color: #555;
}
.daimabtn{
    text-align: left!important;
}
.modal-title{
    font-size: 16px;
}
.savebtn{
    position: fixed;bottom: 0px;z-index: 1000;width:27%;
}
.gaizhang{
    width: 100px;
    height: 40px;
    margin-top: 80px;
    margin-left: 80%;
}