.nav-title{
  font-size: 18px;
}
.left-button{
    margin:5px;
}
/*字体设置*/
.nav-title{
    font-family: 微软雅黑;
    font-size: 110%;
}

/*导航栏样式*/

.nav-pills > li.active > a,
.nav-pills > li.active > a:visited,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:active {
    color: #000;
    background-color: #D9D9D9;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
   
    font-size: 100%;
    font-weight: bold;
    background-color: #336699;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #fff;
}
.nav-title:hover{
    color: #fff;
    text-decoration: underline;
}

/*登陆界面*/
.blue-900{
    background-color: #336699;
}
#formClass{
    margin-top: 33%;
}

/*登陆按钮*/
.panel-body > [aria-disabled=false]{
    background-color: #AFA8A8;
    color: #ffffff;
}

/*拟任职务*/
.selectAdjust{
    width:65%;
    border: 0px;
    border-bottom: 1px #ccc solid;
}

/*单位树图标*/
ul.abn-tree li.abn-tree-row {
    padding: 0px;
    margin-top: 10px;
}
.glyphicon-th-large{
    color: #8AC1F2;
}
.treeTitle h1{
    color: #333;
    font-weight: bold;
    font-size: 16px;
    font-family: 微软雅黑;
    margin-left: 5%;
    margin-bottom: 10px;
    width: 60%;
    height:100%;
    
}

.treeIcon{
    background-color: #8AC1F2;
    width: 55px;
    height:55px;
}
.treeMain{
    margin-left: 7%;
}

.treeMain li>a:hover{
    text-decoration: underline;
}

/*自适应屏幕*/
@media (max-width: 366px){
    #header,#headerLayout{
        margin-top: 50px;
    }
}
@media (min-width: 366px) and (max-width: 768px) {
    #header,#headerLayout{
        margin-top: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1066px) {
    #header,#headerLayout{
        margin-top: 102px;
    }
}
@media (min-width: 1066px) and (max-width: 1085px) {
    #header,#headerLayout{
        margin-top: 51px;
    }
}
@media (min-width: 1086px) and (max-width: 1147px) {
    #header,#headerLayout{
        margin-top: 51px;
    }
}
@media (min-width: 1148px) and (max-width: 1262px) {
    #header,#headerLayout{
        margin-top: 0px;
    }
}
@media (min-width: 1263px){
    #header,#headerLayout{
        margin-top: 0px;
    }
}

