.analysis{
margin-bottom:0px;
padding-left:0px;
padding-right:0px;
}
.nav-title{
  font-size: 18px;
}
.left-button{
    margin:5px;
}
/*导航栏样式*/

.nav-pills > li.active > a,
.nav-pills > li.active > a:visited,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:active {
    color: #fff !important;
    background-color: #8ac1f2;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #336699;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #fff;
}
.nav-title:hover{
    color: #fff;
    text-decoration: underline;
}
/*登陆界面*/
.blue-900{
    background-color: #336699;
}
#formClass{
    margin-top: 33%;
}

/*登陆按钮*/
.panel-body > [aria-disabled=false]{
    background-color: #AFA8A8;
    color: #ffffff;
}

/*拟任职务*/
.selectAdjust{
    width:65%;
    border: 0px;
    border-bottom: 1px #ccc solid;
}

/*单位树图标*/
.glyphicon-th-large{
    color: #8AC1F2;
}

/*自适应屏幕*/
@media (max-width: 366px){
    #header,#headerLayout{
        margin-top: 50px;
    }
}
@media (min-width: 366px) and (max-width: 768px) {
    #header,#headerLayout{
        margin-top: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1066px) {
    #header,#headerLayout{
        margin-top: 102px;
    }
}
@media (min-width: 1066px) and (max-width: 1085px) {
    #header,#headerLayout{
        margin-top: 51px;
    }
}
@media (min-width: 1086px) and (max-width: 1147px) {
    #header,#headerLayout{
        margin-top: 51px;
    }
}
@media (min-width: 1148px) and (max-width: 1262px) {
    #header,#headerLayout{
        margin-top: 0px;
    }
}
@media (min-width: 1263px){
    #header,#headerLayout{
        margin-top: 0px;
    }
}

