<link href="public/app/css/login.css" rel="stylesheet" type="text/css" />
<div ng-controller="SigninFormController" ng-init="app.settings.container = false;">
<div class="logintopleft"></div>
<div class="logintopright"></div>
<div class="clear"></div>
<div class="loginframe">
<div class="loginbigtit">{{app.name}}</div>
<div class="loginuserimg"></div>
<div class="logintext text-center" ng-show="authError">{{authError}}</div>
<input name="" placeholder="用户名" type="text" class="logininput loginuser" ng-model="user.username" required/>
<input name="" placeholder="密码" type="password" class="logininput loginpassword" ng-model="user.password" required/>
<div class="loginstatus"><input name="" type="checkbox" value="" ng-model="user.keepsingin"/> 使我保持登录状态</div>
<div class="loginpassword"></div>
<div class="span1"><a href="#" class="loginbtn loginbtn-large loginbtn-block loginbtn-primary" ng-click="login()" ng-disabled='form.$invalid'>安全登录</a></div>
</div>
<div class="clear"></div>
<div class="footer2">推荐分辨率1600*900、谷歌浏览器</div>
<div class="footer">CopyRight &copy; 2016 福州(闽侯)中科数据应用研究院</div>
</div>