<div class="row hbox hbox-auto-xs hbox-auto-sm" ng-controller="adjustController">
	<div class="leftNav col-md-2  bg-light dk b-r bg-auto"><!--  style="position:fixed"  -->
		<div class="" >
			<ul class="nav nav-pills nav-stacked ">
				<li ui-sref-active="active">
					<a ng-click="clickleft()" ui-sref="notree.adjust.detail({id:item.id})">
						{{adjustlist[0].name}}
					</a>
				</li>
				<li ng-repeat="item in adjustlist" ui-sref-active="active">
					<a ng-show="item!=adjustlist[0]" ui-sref="notree.adjust.detail({id:item.id})">
						{{item.name}}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="workBgColor col-md-10">
		<div ui-view ></div>
	</div>
</div>
