<div class="col-padding row hbox hbox-auto-xs hbox-auto-sm" ng-controller="planController">
	<div class="leftNav col-md-2 col-padding bg-light dk b-r bg-auto" style="overflow-y: auto"><!--  style="position:fixed"  -->
		<div class="" >
			<ul class="nav nav-pills nav-stacked ">
				<li ng-class="{active: currentname == item.name}"  ng-repeat="item in planlist" >
					<a   ng-click="selectdplan(item)">
						{{item.name}}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="workBgColor col-padding col-md-10"  ng-style="{height:showheight}" style="overflow-y: auto">
		<div class="panel panel-default" >
			<!--ng-repeat="row in plandetail "-->
			<div class="panel-heading">{{plandetail.name}}</div>
			<div class="panel-body">
				<div class="list-group">
					<div class="list-group-item">
						<div class="list-group-item-heading">
							一. 调整原因
						</div>
						<div class="list-group-item-text">
							{{plandetail.reason}}
						</div>
					</div>
					<!--<div class="list-group-item">-->
						<!--<div class="list-group-item-heading">-->
							<!--二. 调整方案-->
						<!--</div>-->
						<!--<div class="list-group-item-text">-->
							<!--<ul class="list-group">-->
								<!--<li class="list-group-item" ng-repeat="one in row.planlist">{{one.name}},{{one.sex}},{{one.birthday}},現任{{one.company}},拟免{{one.company}}，拟任{{one.newcompany}}</li>-->
							<!--</ul>-->
						<!--</div>-->

					<!--</div>-->
				</div>
			</div>
		</div>
		<!--<div ui-view ></div>-->
	</div>
</div>
