<div >
<div class="modal-header" >
    <div style="position: relative">
		<span >
			<h3 class="modal-title">添加调配原因</h3>
		</span>
    </div>
</div>
<div class="modal-body">
    <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
        <div class="form-group">
            <label class="col-md-3 control-label">调配方案名称</label>
            <div class="col-md-9 row">
                <div  class=" m-l-n">
                    <input class="form-control" type="text" id="reasontitle" >
                </div>
            </div>
            <label class="col-md-3 control-label">调配方案详情</label>
            <div class="col-md-9 row">
                <div  class=" m-l-n">
                    <textarea class="form-control" type="text" id="reasondetail">{{testtext}}</textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>
</div>