<div ng-controller="adjustdetailController">
    <div class="">
        <div class="row ">
            <div class="panel panel-default">
                <div class="panel-heading" style="position: relative">已选择的人员
                    <button type="submit" ui-sref="app.adjustplan.detail({id:1})" class="btn btn-add btn-href" style="width: 150px;" >方案审核</button>
                </div>
                <table st-table="adjusttable"  class="table table-bordered">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>现任职务</th>
                        <th>拟免职务</th>
                        <th>拟任职务</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in adjusttable" >
                        <td>{{row.name}}</td>
                        <td>{{row.company}}</td>
                        <td>{{row.company}}</td>
                        <td>
                            <select class="selectAdjust"  ng-model="favoriteTopping">
                                <!--
                                    <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
                                 -->
                                <option value="">请选择职务</option>
                                <option ng-value="topping.name" ng-repeat="topping in toppings">{{topping.name}}</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
