<div class="modal-header">
  <div style="position: relative">
		<span class="modal-title">
            人员列表
		</span>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <table  st-table="charts" class="table table-bordered">
      <thead>
      <tr>
        <th>姓名</th>
        <th>职务</th>
        <th>性别</th>
        <th>民族</th>
        <th>出生</th>
        <th>籍贯</th>
        <th>入党</th>
        <th>学历</th>
        <th>学校</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in charts" >
        <td ng-click="showOneDetail(row)">{{row.name}}</td>
        <td>{{row.post_name}}</td>
        <td>{{row.sex}}</td>
        <td>{{row.nation}}</td>
        <td>{{row.birthday| date:'yyyy-MM-dd'}}</td>
        <td>{{row.jiguan}}</td>
        <td>{{row.party_Date| date:'yyyy-MM-dd'}}</td>
        <td>{{row.edu}}</td>
        <td>{{row.schoolName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">取消</button>
  <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>