<div ng-controller="deployCtrl">
	<!--<div class="bg-light md-whiteframe-z0 md-aside md-content hidden-xs affix" >-->
		<!--<nav ui-nav  ng-include="'/public/app/tpl/blocks/nosearch.nav.html'"></nav>-->
	<!--</div>-->
	<div class=" row">
		<!--<script type="text/ng-template" id="selectCompanyModel.html">-->
			<!--<div ng-include="'/public/app/tpl/ui_deploy_modal.html'"></div>-->
		<!--</script>-->
		<script type="text/ng-template" id="myModalContent.html">
			<div ng-include="'/public/app/tpl/ui_message_modal.html'"></div>
		</script>
		<div class="col-md-6" >
			<div class="panel panel-default">
				<div class="panel-heading">请选择班子进行调整</div>
				<div class="panel-body row">
					<form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
						<div class="form-group">
							<label class="col-md-3 control-label">请选择</label>

							<div class="col-md-9 row">
								<div  class="col-md-4 ">
									<select required="" class="form-control" ng-model="first" ng-options=" a.label for a in deploy"
											ng-change="second='';third='';">
										<!--<option value="">省</option>-->
									</select>
								</div>
								<div  class="col-md-4 ">
									<select  ng-show="first.children.length" class="form-control" ng-model="second" ng-options="b.label for b in first.children"
											 ng-change="third='';">
										<option value="">请选择或者取消选择</option>
									</select>
								</div>
								<div  class="col-md-4 ">
									<select ng-show="second.children.length" class="form-control" ng-model="third" ng-options="c.label for c in second.children">
										<option value="">请选择或者取消选择</option>
									</select>
								</div>
							</div>
						</div>
						<div class=" form-group">
							<label class="col-md-3 control-label">选择单位</label>
							<label class="col-md-6">
								{{first.label}}-{{second.label}}-{{third.label}}
							</label>

							<button ng-click="selectdw(first,second,third)" ng-show="first.children.length" class="btn btn-default col-md-2">确定 </button>
						</div>
					</form>
				</div>

			</div>
			<div  ng-repeat="row in daweilist">
				<div class="panel panel-default">
					<div class="panel-heading">{{row.name}}
						<a  class="pull-right m-l"> <i class="fa fa-times"></i></a>
						<a  class="pull-right m-l"> <i class="fa fa-refresh"></i></a>
					</div>
					<div class="row" >
						<div ng-repeat="t in row.peoples">
							<div class="col-sm-2">
								<div class="panel panel-card">
									<div class="item">
										<img  src="{{t.img}}" class="w-full r-t" alt="Washed Out">
									</div>
									<div class="wrapper">
										<button class="btn btn-default" ng-click="showOneDetail(t.id)">{{t.name}}</button>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="form-group">
						<button class="btn w-full  btn-info font-bold" type="submit">保存调整</button>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-6">
			<accordion close-others="oneAtATime">
				<accordion-group is-open="status.open" class="b-info">
					<accordion-heading>
						设置查询条件 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
					</accordion-heading>
					<form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled" ng-submit="search()">
						<div class="form-group">
							<div class="vbox">
								<div class="" >
									<div class="cell scrollable hover">
										<div class="cell-inner">
											<div class="padder">
												<div class="list-group">
													<form class="bs-example form-horizontal ng-pristine ng-valid">
														<div class="form-group list-group-item" ng-repeat="searchitem in searchlist | filter:{show:'less'}">
															<div class="list-group-item-heading">{{searchitem.title}}</div>
															<button class="btn btn-default left-button " ng-repeat="selectitem in searchitem.selectitem" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected">{{selectitem.name}}</button>
														</div>
														<div class="form-group">
															<button type="submit"  ng-click="status.open = !status.open" class="btn w-full  btn-info font-bold">搜索</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</accordion-group>
			</accordion>
			<div class="panel panel-default">
				<div class="panel-heading">搜索结果</div>
				<div class="panel-body row">
					<div class="row" >
						<div ng-repeat="t in imgs">
							<div class="col-sm-2">
								<div class="panel panel-card">
									<div class="item">
										<img  src="{{t.img}}" class="w-full r-t" alt="Washed Out">
									</div>
									<div class="wrapper">
										<button class="btn btn-default" ng-click="showOneDetail(t.id)">{{t.name}}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>