<div class="row col-padding" ng-controller="deployCtrl" >
	<div  class="md-right">
		<script type="text/ng-template" id="savePeopleModel.html">
			<div ng-include="'/public/app/tpl/ui_deploysave_modal.html'"></div>
		</script>
		<script type="text/ng-template" id="selectrenzhiPeopleModel.html">
			<div ng-include="'/public/app/tpl/ui_deploy_renzhi_modal.html'"></div>
		</script>
		<script type="text/ng-template" id="selectmianzhiPeopleModel.html">
			<div ng-include="'/public/app/tpl/ui_deploy_mianzhi_modal.html'"></div>
		</script>
		<script type="text/ng-template" id="myModalContent.html">
			<div ng-include="'/public/app/tpl/ui_message_modal.html'"></div>
		</script>
		<div ng-show="!isdetail">
			<div class="col-md-4 col-padding" ng-style="{height:showheight}" style="overflow-y: auto">
				<div class="panel panel-default">
					<div class="panel-heading">{{treeselected}}</div>
					<div class="" ng-if="daweilist">
					<div class="form-group" >
						<button style="position: fixed;bottom: 0px;z-index: 1000" class="btn w-full  btn-danger font-bold" ng-click="savedeploy()">保存班子调整</button>
					</div>
					<div  class="deploy" >
						<div ng-repeat="t in daweilist.row" >
							<div class="deploy" ng-if="t==daweilist.row[0]">
								<div class="deployframe"  >
									<div class="panel panel-card deploycontent" style="width: 30%" ng-repeat="peoples in t.column">
										<div class="item">
											<img ng-click="showOneDetail(peoples)" onerror="javascript:this.src='/public/app/img/a.png';" ng-src="{{peoples.imgurl?imageurl+peoples.imgurl:'/public/app/img/a.png'}}" class="w-full r-t" alt="{{peoples.name}}">
										</div>
										<div class="list-group">
											<div class="list-group-item" style="padding-top: 0px;padding-bottom: 0px">{{peoples.name}}
												<span ng-if="peoples.needChange" style="color: red">(应交流)</span>
											</div>
											<div class="list-group-item" style="padding-top: 1px;padding-bottom: 1px">{{peoples.post_name}}</div>
											<div class="list-group-item" >
												<button class="btn btn-info  w-full"  ng-show="peoples.state=='true'" ng-click="removepeople(peoples)" style="padding: 0px">免职</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row"  ng-if="t!=daweilist.row[0]">
								<div class="panel col-lg-4 col-md-6 panel-card " ng-repeat="peoples in  t.column" style="height: 220px">
									<div class="item">
										<img ng-click="showOneDetail(peoples)" onerror="javascript:this.src='/public/app/img/a.png';" ng-src="{{peoples.imgurl?imageurl+peoples.imgurl:'/public/app/img/a.png'}}" class="w-full r-t" alt="{{peoples.name}}">
									</div>
									<div class="list-group" style="text-align: center">
										<div class="list-group-item" style="padding-top: 0px;padding-bottom: 0px;padding: 0px">{{peoples.name}}<span ng-if="peoples.needChange" style="color: red">(应交流)</span></div>
										<div class="list-group-item" style="padding-top: 1px;padding-bottom: 1px;padding: 0px">{{peoples.post_name}}</div>
										<div class="list-group-item" >
											<button class="btn btn-info  w-full"  ng-show="peoples.state=='true'"  ng-click="removepeople(peoples)" style="padding: 0px">免职</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div class="" ng-if="!daweilist" style="margin-left: 18px">
					<!--{{treeselected}}班子暂无成员-->
					<div class="" ng-if="texttree" style="margin-left: 18px">
						请选择班子
					</div>
					<div class="" ng-if="!texttree" style="margin-left: 18px">
						{{treeselected}}班子暂无成员
					</div>
				</div>
			</div>

			<div class="col-md-8 col-padding" ng-style="{height:showheight}" style="overflow-y: auto" >
				<accordion close-others="oneAtATime">
					<accordion-group is-open="status.open" class="b-info">
						<accordion-heading class="btn-info">
							<b>设置查询条件</b> <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
						</accordion-heading>
						<div class="vbox">
							<div class="" >
								<div class="cell scrollable hover">
									<div class="cell-inner">
										<div class="padder">
											<div class="list-group">
												<form  class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled" ng-submit="searchPeoples()">
													<div class="">
														<div class="list-group-item">
															<div class="form-group" style="margin-bottom: 0px">
																<div class="input-group">
																	<span class="input-group-addon">按关键字查询：</span>
																	<input type="text" ng-model="search.keywords" name="keywords" class="form-control">
																 <span class="input-group-btn">
																	  <button class="btn btn-info"  ng-click="status.open = !status.open"  type="submit">
																		  搜索
																	  </button>
																   </span>
																</div>
															</div>
														</div>
													</div>
													<table class="table mytable">
													<tr class="form-group" style="margin-bottom: 0px" >
														<td><label class="control-label">职级</label></td>
														<td><input type="button" class="btn btn-default left-button " ng-repeat="zhiji in zhijilist" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{zhiji.dz}}" rank='{{zhiji.ano}}'></td>
													</tr>
													<tr class="form-group" style="margin-bottom: 0px" >
														<td><label class="control-label">性别</label></td>
														<td><input type="button" class="btn btn-default left-button " ng-repeat="sex in sexlist" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{sex.dz}}" xingbie='{{sex.ano}}'></td>
													</tr>
													<tr class="form-group" style="margin-bottom: 0px" >
														<td><label class="control-label">学历</label></td>
														<td><input type="button" class="btn btn-default left-button " ng-repeat="xueli in xuelilist" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{xueli.dz}}" edulevel='{{xueli.ano}}'></td>
													</tr>
													<tr class="form-group" style="margin-bottom: 0px" >
														<td><label class="control-label" style="white-space:nowrap">政治面貌</label></td>
														<td><input type="button" class="btn btn-default left-button " ng-repeat="zhengzhi in zhengzhilist" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{zhengzhi.dz}}" politicalstatus='{{zhengzhi.ano}}'></td>
													</tr>
													<tr class="form-group" style="margin-bottom: 0px" >
														<td><label class="control-label">年龄</label></td>
														<td><input type="button" class="btn btn-default left-button " ng-repeat="nianling in nianlinglist" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{nianling.dz}}" age='{{nianling.ano}}'></td>
													</tr>
													</table>
													<div class="form-group">
														<button type="submit"  ng-click="status.open = !status.open" class="btn w-full  btn-info font-bold">搜索</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--</div>-->
						<!--</form>-->
					</accordion-group>
					</accordion>
					<div class="panel panel-default">
						<div class="panel-heading">搜索结果</div>
						<div class="panel-body row">
							<div class="row" >
								<div ng-repeat="t in searchpeopleshow">
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="panel panel-card">
											<div class="item">
												<img ng-click="showOneDetail(t)" onerror="javascript:this.src='/public/app/img/a.png';" src="{{t.imgurl?imageurl+t.imgurl:'/public/app/img/a.png'}}" class="w-full r-t" alt="{{t.name}}">
											</div>
											<div style="text-align: center">
												<div class="list-group-item" style="padding-top: 0px;padding-bottom: 0px;white-space:nowrap" >{{t.name}}</div>
												<div class="list-group-item" style="padding: 0px">{{t.company}}</div>
												<div class="list-group-item">
													<button class="btn btn-info  w-full"  ng-click="selectpeople(t)" style="padding: 0px">任职</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<tm-pagination conf="paginationConf"></tm-pagination>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="row panel panel-default" ng-show="isdetail">
			<div class="panel-heading" style="position: relative">
				<button class="btn btn-info" ng-click="isdetail=false">返回</button>
				<span style="margin-left: 20px">人员信息详情</span>
			</div>
			<ng-include src="'/public/app/tpl/ui_people_detail_modal.html'" ></ng-include>
		</div>
	</div>
</div>
</div>