<div class="modal-header">
	<div style="position: relative">
		<span >
			<h3 class="modal-title">确定保存方案</h3>
		</span>
	</div>
</div>
<div class="modal-body" ng-show="hasanalysis">
	<form  name="mianzhiform" class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
		<div class="form-group" >
			<label class="col-md-2 control-label">分析结果</label>
			<div class="col-md-10 row">
				<div  class=" m-l-n">
					<div class=" list-group"  style="display:inline;">
						<div class="list-group-item" ng-repeat="result in analysis_result track by $index">
							<span>{{result}}</span>
						</div>
						<div class="list-group-item" ng-if="!hasresult">
							<span>{{noresult}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">重新调配</button>
	<button class="btn btn-primary"  ng-click="analysis_tijiao()" ng-show="!hasanalysis">分析</button>
	<button class="btn btn-primary" ng-click="ok()"  ng-show="hasanalysis">保存结果</button>
</div>