<div ng-controller="deployCtrl">
	<!--<div class="bg-light md-whiteframe-z0 md-aside md-content hidden-xs affix" >-->
		<!--<nav ui-nav  ng-include="'/public/app/tpl/blocks/nosearch.nav.html'"></nav>-->
	<!--</div>-->
	<div class=" row">
		<script type="text/ng-template" id="selectCompanyModel.html">
			<div ng-include="'/public/app/tpl/ui_deploy_modal.html'"></div>
		</script>
		<script type="text/ng-template" id="myModalContent.html">
			<div ng-include="'/public/app/tpl/ui_message_modal.html'"></div>
		</script>
		<div class="col-md-5" >
			<div  ng-repeat="row in daweilist">
				<div class="panel panel-default">
					<div class="panel-heading">{{row.name}}
						<a  class="pull-right m-l"> <i class="fa fa-times"></i></a>
						<a  class="pull-right m-l"> <i class="fa fa-refresh"></i></a>
					</div>
					<div class="row" >
						<div ng-repeat="t in row.peoples">
							<div class="col-sm-3">
								<div class="panel panel-card">
									<div class="item">
										<img  src="{{t.img}}" class="w-full r-t" alt="Washed Out">
									</div>
									<div class="wrapper">
										<button class="btn btn-default" ng-click="showOneDetail(t.id)">{{t.name}}</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button class="btn w-full  btn-info font-bold" type="submit">保存调整</button>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row" >

				<div ng-repeat="t in imgs">
					<div class="col-sm-2">
						<div class="panel panel-card">
							<div class="item">
								<img  src="{{t.img}}" class="w-full r-t" alt="Washed Out">
							</div>
							<div class="wrapper">
								<button class="btn btn-default" ng-click="showOneDetail(t.id)">{{t.name}}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>