<div class="modal-header" >
  <div style="position: relative">
		<span >
			<h3 class="modal-title">调配详情</h3>
		</span>


  </div>
</div>
<div class="modal-body" ng-controller="deployCtrl">
  <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
    <div class="form-group">
      <label class="col-md-2 control-label">调配原因</label>
      <div class="col-md-10 row">
        <div  class=" m-l-n">
          <!--<select required="" class="form-control" ng-model="deploy.reason" ng-options=" a.reason for a in reasonlist">-->
          <!--&lt;!&ndash;<option value="">省</option>&ndash;&gt;-->
          <!--</select>-->
          <div class="dropdown" dropdown >
            <input autocomplete="" class="tags form-control" ng-model="deploy.reason" type="text" required />
            <!--<input  class="tags form-control" ng-model="row.reason" type="text" required />-->
            <div  class="input_controller btn btn-default dropdown-toggle" dropdown-toggle  data-toggle="dropdown" ng-if="1">
              <span class="caret"  ></span>
            </div>
            <ul  class="dropdown-menu" role="menu" style="width: 100%;" ng-if="1">
              <li ng-repeat="p in reasons" ng-class="{active:deploy.reason==p.reason}"  >
                <a href="javascript:void(0)" ng-click="deploy.reason=p.reason">{{p.reason}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">取消</button>
  <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>