<div ng-controller="MessageController">
  <div class="modal-header">
    <div style="position: relative">
		<span >
			<h3 class="modal-title">请输入结果集名称</h3>
		</span>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
      <div class="form-group" ng-class="{ 'has-error' : addtreeform.name.$invalid && !addtreeform.name.$pristine }">
        <div class="col-xs-offset-2 col-xs-8 row">
          <div  class=" m-l-n">
            <input class="form-control" id="result-name" type="text" ng-model="resultname" required>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary"  ng-disabled="addtreeform.$invalid" ng-click="ok()">确定</button>
  </div>
</div>