<div ng-controller="MessageController">
  <div class="modal-header">
    <div style="position: relative">
		<span >
			<h3 class="modal-title">管理结果集</h3>
		</span>
    </div>
  </div>
  <div class="modal-body">
    <form name="addtreeform" class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
      <table class="table table-bordered tiaojiantable" st-table="yyy">
        <thead>
          <tr>
            <!--<td st-sort="id">序号</td>-->
            <td width="5%"><nobr>序号</nobr></td>
            <td width="85%">结果集名称</td>
            <td width="10%">操作</td>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in yyy">
          <td>{{i.id}}</td>
          <td>{{i.name}}</td>
          <td>
            <button class="btn btn-submit" ng-click="delresult(i.id)">删除</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
  </div>
</div>