<div class="modal-header">
	<div class="text-center"><h4>干部任免审批表</h4></div>
</div>
<div class="modal-body">
	<tabset class="tab-container">
		<tab>
			<tab-heading>
				<h4 class="modal-title">按任免表查看</h4>
			</tab-heading>
			<ng-include src="'/public/app/tpl/ui_message_modal_table.html'" ></ng-include>
		</tab>
		<tab>
			<tab-heading>
				<h4 class="modal-title">按信息集查看</h4>
			</tab-heading>
			<ng-include src="'/public/app/tpl/ui_message_modal_xinxi.html'" ></ng-include>
		</tab>
	</tabset>
     <!--Selected: <b>{{ selected.item }}</b>-->
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">取消</button>
	<button class="btn btn-primary" ng-click="ok()">确定</button>
</div>