		<div class="row col-padding" ng-controller="MessageController">
            <div class="md-right" >
                <div ng-show="!isdetail">
                    <accordion close-others="oneAtATime">
                        <accordion-group is-open="status.open" class="b-info">
                            <accordion-heading class="btn-info">
                                <b>设置查询条件</b> <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
                            </accordion-heading>
                            <div class="vbox">
                                <div class="" >
                                    <div class="cell scrollable hover">
                                        <div class="cell-inner">
                                            <div class="padder">
                                                <div class="list-group">
                                                    <form  class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled" ng-submit="searchPeople()">
                                                        <div class="" >
                                                            <div class="list-group-item" style="border: 0px">
                                                                <div class="form-group" style="margin-bottom: 0px">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">按关键字查询</span>
                                                                        <input type="text" ng-model="search.keywords" name="keywords" class="form-control">
																 <span class="input-group-btn">
																	  <button class="btn btn-info"  ng-click="status.open = !status.open"  type="submit">
                                                                          搜索
                                                                      </button>
																   </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <table class="table mytable">
                                                        <tr class="form-group" style="margin-bottom: 2px" >
                                                            <td width="5%"><label class="control-label">职级</label></td>
                                                            <td><input type="button" class="btn btn-default left-button " ng-repeat="zhiji in zhijilist" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{zhiji.dz}}" rank='{{zhiji.ano}}'></td>
                                                        </tr>
                                                        <tr class="form-group" style="margin-bottom: 2px" >
                                                            <td><label class="control-label">性别</label></td>
                                                            <td><input type="button" class="btn btn-default left-button " ng-repeat="sex in sexlist" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{sex.dz}}" xingbie='{{sex.ano}}'></td>
                                                        </tr>
                                                        <tr class="form-group" style="margin-bottom: 2px" >
                                                            <td><label class="control-label">学历</label></td>
                                                            <td><input type="button" class="btn btn-default left-button " ng-repeat="xueli in xuelilist" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{xueli.dz}}" edulevel='{{xueli.ano}}'></td>
                                                        </tr>
                                                        <tr class="form-group" style="margin-bottom: 2px" >
                                                            <td><label class="control-label">政治面貌</label></td>
                                                            <td><input type="button" class="btn btn-default left-button " ng-repeat="zhengzhi in zhengzhilist" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{zhengzhi.dz}}" politicalstatus='{{zhengzhi.ano}}'></td>
                                                        </tr>
                                                        <tr class="form-group" style="margin-bottom: 2px" >
                                                            <td><label class="control-label">年龄</label></td>
                                                            <td><input type="button" class="btn btn-default left-button " ng-repeat="nianling in nianlinglist" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{nianling.dz}}" age='{{nianling.ano}}'></td>
                                                        </tr>
                                                        </table>
                                                        <!--<div class="form-group" style="margin-bottom: 0px" ng-repeat="searchitem in searchlist">-->
                                                        <!--<label class="control-label">{{searchitem.title}}</label>-->
                                                        <!--<input type="button" class="btn btn-default left-button " ng-repeat="selectitem in searchitem.selectitem" ng-init="isSelected = false" ng-click="isSelected = !isSelected"  selectbutton="isSelected" value="{{selectitem.name}}" selectparam='{{selectitem.id}}'>-->
                                                        <!--</div>-->
                                                        <div class="form-group">
                                                            <button type="submit"  ng-click="status.open = !status.open" class="btn w-full  btn-info font-bold">搜索</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--</div>-->
                            <!--</form>-->
                        </accordion-group>
                    </accordion>
                    <tabset class="tab-container " >
                        <!-- 默认选中第二个 active="selectTab"-->
                        <tab heading="按头像查看" class="blue-500">
                            <div class="row" >
                                <div ng-repeat="people in messagetabletab">
                                    <div class="col-sm-2">
                                        <div class="panel panel-card">
                                            <div class="item">
                                                <img  ng-click="showOneDetail(people)" onerror="javascript:this.src='/public/app/img/a.png';" ng-src="{{people.imgurl?imageurl+people.imgurl:'/public/app/img/a.png'}}" class="w-full r-t" alt="Washed Out">
                                            </div>
                                            <div class="wrapper" style="text-align: center">
                                                <h4>
                                                    {{people.name}}
                                                </h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="按花名册查看"  class="blue-500" >
                            <div class="row">
                                <table st-table="messagetabletab"  class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>籍贯</th>
                                        <th>出生日期</th>
                                        <th>学历</th>
                                        <th>现任职务</th>
                                        <th>所属班子</th>
                                        <th>入党时间</th>
                                        <th>毕业学校</th>
                                        <th>专业</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="people in messagetabletab" >
                                        <td>{{people.name}}</td>
                                        <td>{{people.jiguan}}</td>
                                        <td>{{people.birthday}}</td>
                                        <td>{{people.edu_level}}</td>
                                        <td>{{people.post_name}}</td>
                                        <td>{{people.organization_name}}</td>
                                        <td>{{people.organ_date}}</td>
                                        <td>{{people.school_name}}</td>
                                        <td>{{people.profession_name}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                       

                    </tabset>
                    <div class="row">
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>

                </div>
                <div class="row panel panel-default" ng-show="isdetail">
                    <div class="panel-heading" style="position: relative">
                        <button class="btn btn-info" ng-click="isdetail=false">返回</button>
                        <span style="margin-left: 20px">人员信息详情</span>
                    </div>
                    <ng-include src="'/public/app/tpl/ui_people_detail_modal.html'" ></ng-include>
                </div>

		</div>
		<!--  /tab -->
	<!--</div>-->
<!--</div>-->