<div class="modal-header">
	<div style="position: relative">
		<span >
			<h3 class="modal-title">添加职务</h3>
		</span>
	</div>
</div>
<div class="modal-body" ng-controller="SetPeopleCtrl as vm">
	<form name="addPeoplezhiwuform" class="form-horizontal">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.name.$invalid && !addPeoplezhiwuform.name.$pristine }">
					<label class="col-md-4 control-label">职务名称</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="name" type="text" ng-model="zhiwu.name" required>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.birthday.$invalid && !addPeoplezhiwuform.birthday.$pristine }">
					<label class="col-md-4 control-label">职务统计类别</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.tongjileibie">
								<ui-select-match  placeholder="请选择职务统计类别">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="item in zhiwuleibie | filter: $select.search">
									<div  ng-bind-html="item.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.jiguan.$invalid && !addPeoplezhiwuform.jiguan.$pristine }">
					<label class="col-md-4 control-label">任职状态</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.zhuangtai">
								<ui-select-match  placeholder="请选择任职状态">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="item in renzhizhuangtai | filter: $select.search">
									<div  ng-bind-html="item.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.jiankang.$invalid && !addPeoplezhiwuform.jiankang.$pristine }">
					<label class="col-md-4 control-label">批准任职文号</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="jiankang" type="text" ng-model="newdata.jiankang" required>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.zhiji.$invalid && !addPeoplezhiwuform.zhiji.$pristine }">
					<label class="col-md-4 control-label">任职机构名称</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.jigou">
								<ui-select-match  placeholder="请选择任职机构">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="item in jigou | filter: $select.search">
									<div  ng-bind-html="item.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.shenfen.$invalid && !addPeoplezhiwuform.shenfen.$pristine }">
					<label class="col-md-4 control-label">任职机构隶属</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.lishu">
								<ui-select-match  placeholder="请选择任职机构隶属">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="item in lishu | filter: $select.search">
									<div  ng-bind-html="item.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.xingbie.$invalid && !addPeoplezhiwuform.xingbie.$pristine }">
					<label class="col-md-4 control-label">任职机构性质类别</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.jigouleibie">
								<ui-select-match  placeholder="请选择任职机构性质属性类别">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="item in jigouleibie | filter: $select.search">
									<div  ng-bind-html="item.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.xingbie.$invalid && !addPeoplezhiwuform.xingbie.$pristine }">
					<label class="col-md-4 control-label">职务类别</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.leibie">
								<ui-select-match  placeholder="请选择职务类别">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="item in zhiwuleibie | filter: $select.search">
									<div  ng-bind-html="item.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.minzu.$invalid && !addPeoplezhiwuform.minzu.$pristine }">
					<label class="col-md-4 control-label">职级</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.zhiji">
								<ui-select-match  placeholder="请选择职级">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="item in zhiwuzhiji | filter: $select.search">
									<div  ng-bind-html="item.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.chusheng.$invalid && !addPeoplezhiwuform.chusheng.$pristine }">
					<label class="col-md-4 control-label">批准任职时间</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="renzhidate" type="date" ng-model="zhiwu.pizhundate" required>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.zhiji.$invalid && !addPeoplezhiwuform.zhiji.$pristine }">
					<label class="col-md-4 control-label">批准免职时间</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="mainzhidate" type="text" ng-model="zhuwu.mian" required>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.zhuangtai.$invalid && !addPeoplezhiwuform.zhuangtai.$pristine }">
					<label class="col-md-4 control-label">任职机构代码</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="zhuangtai" type="text" ng-model="newdata.zhuangtai" required>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.shenfenzheng.$invalid && !addPeoplezhiwuform.shenfenzheng.$pristine }">
					<label class="col-md-4 control-label">任职机构级别</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.jigoujibie">
								<ui-select-match  placeholder="请选择任职机构级别">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="item in jigoujibie | filter: $select.search">
									<div  ng-bind-html="item.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.shenfenzheng.$invalid && !addPeoplezhiwuform.shenfenzheng.$pristine }">
					<label class="col-md-4 control-label">现任职级时间</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="shenfenzheng" type="text" ng-model="newdata.shenfenzheng" required>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group" >
				<label class="col-md-3 control-label">原单位及职务</label>
				<div class="col-md-9 ">
					<div  class=" m-l-n">
						<textarea rows="2" class="form-control" name="zhuanchang" ng-model="newdata.zhuanchang" ></textarea>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">取消</button>
	<button class="btn btn-primary"  ng-disabled="addPeoplezhiwuform.$invalid"  ng-click="ok()">确定</button>
</div>