<div class="modal-header">
	<div style="position: relative">
		<span >
			<h3 class="modal-title">添加职务</h3>
		</span>
	</div>
</div>
<div class="modal-body">
	<form name="addPeoplezhiwuform" class="form-horizontal">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.post_name.$invalid && !addPeoplezhiwuform.post_name.$pristine }">
					<label class="col-md-4 control-label">职务名称</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="post_name" type="text" ng-model="zhiwu.post_name" required>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.work_status.$invalid && !addPeoplezhiwuform.work_status.$pristine }">
					<label class="col-md-4 control-label">任职状态</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap" name="work_status" required=""  ng-model="zhiwu.work_status">
								<ui-select-match  placeholder="请选择任职状态">{{$select.selected.dz}}</ui-select-match>
								<ui-select-choices repeat="item in elementSelect.renzhizhuangtai | filter: $select.search">
									<div  ng-bind-html="item.dz | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.working_number.$invalid && !addPeoplezhiwuform.working_number.$pristine }">
					<label class="col-md-4 control-label">批准任职文号</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="working_number" type="text" ng-model="zhiwu.working_number" required>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.zhuangtai.$invalid && !addPeoplezhiwuform.zhuangtai.$pristine }">
					<label class="col-md-4 control-label">任职机构</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.organization_id">
								<ui-select-match  placeholder="请选择任职机构代码">{{$select.selected.dz}}</ui-select-match>
								<ui-select-choices repeat="item in elementSelect.renzhijigoudaima | filter: $select.search">
									<div  ng-bind-html="item.dz | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<!--<div class="form-group" >-->
					<!--<label class="col-md-4 control-label">任职机构名称</label>-->
					<!--<div class="col-md-8 row">-->
						<!--<div  class=" m-l-n">-->
							<!--<ui-select theme="bootstrap"  ng-model="zhiwu.organization_name">-->
								<!--<ui-select-match  placeholder="请选择任职机构">{{$select.selected.dz}}</ui-select-match>-->
								<!--<ui-select-choices repeat="item in elementSelect.renzhijigoumingcheng | filter: $select.search">-->
									<!--<div  ng-bind-html="item.dz | highlight: $select.search"></div>-->
								<!--</ui-select-choices>-->
							<!--</ui-select>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<div class="form-group" >
					<label class="col-md-4 control-label">任职机构所属地</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<div class="dropdown" dropdown >
								<input autocompletes="" class="tags form-control" ng-model="zhiwu.location" name="location" type="text" loaddata="{{elementSelect.address | filter: { dz:zhiwu.location} }}"  />
								<div  class="input_controller btn btn-default dropdown-toggle" dropdown-toggle  data-toggle="dropdown" ng-if="1">
									<span class="caret"  ></span>
								</div>
								<ul  class="dropdown-menu" role="menu" style="width: 100%;max-height: 200px;overflow-y: auto" ng-if="1">
									<li ng-repeat="p in elementSelect.address" ng-class="{active:zhiwu.location==p.dz}"  >
										<a href="javascript:void(0)" ng-click="zhiwu.location=p.dz;zhiwu.location_ano=p.ano">{{p.dz}}</a>
									</li>
								</ul>
							</div>
							<!--<ui-select theme="bootstrap"  ng-model="zhiwu.location">-->
								<!--<ui-select-match  placeholder="请选择任职机构所属地">{{$select.selected.dz}}</ui-select-match>-->
								<!--<ui-select-choices repeat="item in elementSelect.address | filter: $select.search">-->
									<!--<div  ng-bind-html="item.dz | highlight: $select.search"></div>-->
								<!--</ui-select-choices>-->
							<!--</ui-select>-->
						</div>
					</div>
				</div>
				<div class="form-group" >
					<label class="col-md-4 control-label">任职机构隶属</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.organization_membership">
								<ui-select-match  placeholder="请选择任职机构隶属">{{$select.selected.dz}}</ui-select-match>
								<ui-select-choices repeat="item in elementSelect.renzhijigoulishu | filter: $select.search">
									<div  ng-bind-html="item.dz | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">任职机构性质类别</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.organization_type">
								<ui-select-match  placeholder="请选择任职机构性质属性类别">{{$select.selected.dz}}</ui-select-match>
								<ui-select-choices repeat="item in elementSelect.renzhijigouxingzhi | filter: $select.search">
									<div  ng-bind-html="item.dz | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="col-md-4 control-label">职务类别</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.post_category">
								<ui-select-match  placeholder="请选择职务类别">{{$select.selected.dz}}</ui-select-match>
								<ui-select-choices repeat="item in elementSelect.zhiwuleibie | filter: $select.search">
									<div  ng-bind-html="item.dz | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" >
					<label class="col-md-4 control-label">职级</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.rank">
								<ui-select-match  placeholder="请选择职级">{{$select.selected.dz}}</ui-select-match>
								<ui-select-choices repeat="item in elementSelect.zhijilist | filter: $select.search">
									<div  ng-bind-html="item.dz | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" >
					<label class="col-md-4 control-label">批准任职时间</label>
					<div class="col-md-8" style="padding-left: 0px" ng-controller="DatepickerDemoCtrl">
						<div  class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="zhiwu.working_date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.zhiji.$invalid && !addPeoplezhiwuform.zhiji.$pristine }">
					<label class="col-md-4 control-label">批准免职时间</label>
					<div class="col-md-8" style="padding-left: 0px" ng-controller="DatepickerDemoCtrl">
						<div  class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="zhiwu.depose_date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.shenfenzheng.$invalid && !addPeoplezhiwuform.shenfenzheng.$pristine }">
					<label class="col-md-4 control-label">任职机构级别</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.organization_level">
								<ui-select-match  placeholder="请选择任职机构级别">{{$select.selected.dz}}</ui-select-match>
								<ui-select-choices repeat="item in elementSelect.renzhijigoujibie | filter: $select.search">
									<div  ng-bind-html="item.dz | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.shenfenzheng.$invalid && !addPeoplezhiwuform.shenfenzheng.$pristine }">
					<label class="col-md-4 control-label">现任职级时间</label>
					<div class="col-md-8" style="padding-left: 0px" ng-controller="DatepickerDemoCtrl">
						<div  class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="zhiwu.rank_time" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group"  ng-class="{ 'has-error' : addPeoplezhiwuform.post_oder.$invalid && !addPeoplezhiwuform.post_oder.$pristine }">
					<label class="col-md-4 control-label">多职务主次序号</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="post_oder" type="number" ng-model="zhiwu.post_oder" required >
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.post_all_oder.$invalid && !addPeoplezhiwuform.post_all_oder.$pristine }">
					<label class="col-md-4 control-label">集体内排列顺序</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="post_all_oder" type="number" ng-model="zhiwu.post_all_oder" required>
						</div>
					</div>
				</div>
			</div>
		</div>


	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">取消</button>
	<button class="btn btn-primary"  ng-disabled="addPeoplezhiwuform.$invalid"  ng-click="ok()">确定</button>
</div>