<div class="modal-header">
	<div style="position: relative">
		<span >
			<h3 class="modal-title">修改奖惩记录</h3>
		</span>
	</div>
</div>
<div class="modal-body">
	<form name="updatePeoplejiangchengform" class="form-horizontal">
		<div class="row">
			<div class="">
				<div class="form-group" ng-class="{ 'has-error' : updatePeoplejiangchengform.name.$invalid && !updatePeoplejiangchengform.name.$pristine }">
					<label class="col-md-4 control-label">机关正处工资级别</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select ng-model="newdata.wage_level" theme="bootstrap">
								<ui-select-match placeholder="请选择工资级别">{{$select.selected.dz}}</ui-select-match>
								<ui-select-choices repeat="item in elementSelect.gongzijibie | filter: $select.search">
									<div ng-bind-html="item.dz | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : updatePeoplejiangchengform.wage_grade.$invalid && !updatePeoplejiangchengform.wage_grade.$pristine }">
					<label class="col-md-4 control-label">机关正处工资档次</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="wage_level_2" type="number" ng-model="newdata.wage_grade" required>
							<!--<ui-select ng-model="newdata.wage_grade" theme="bootstrap">-->
								<!--<ui-select-match placeholder="请选择工资档次">{{$select.selected.dz}}</ui-select-match>-->
								<!--<ui-select-choices repeat="item in elementSelect.gongzidangci | filter: $select.search">-->
									<!--<div ng-bind-html="item.dz | highlight: $select.search"></div>-->
								<!--</ui-select-choices>-->
							<!--</ui-select>-->
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : updatePeoplejiangchengform.jiguan.$invalid && !updatePeoplejiangchengform.jiguan.$pristine }">
					<label class="col-md-4 control-label">事业五级管理薪级</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="wage_level_2" type="number" ng-model="newdata.wage_level_2" required>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : updatePeoplejiangchengform.explanation.$invalid && !updatePeoplejiangchengform.explanation.$pristine }">
					<label class="col-md-4 control-label">奖惩说明</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<textarea rows="2" class="form-control" name="explanation" ng-model="newdata.explanation" ></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">取消</button>
	<button class="btn btn-primary"   ng-click="ok()">确定</button>
	<!--ng-disabled="updatePeoplejiangchengform.$invalid"-->
</div>