<div class="modal-header">
	<div style="position: relative">
		<span >
			<h3 class="modal-title">添加职称</h3>
		</span>
	</div>
</div>
<div class="modal-body" >
	<form name="updatePeoplezhichengform" class="form-horizontal">
		<div class="row">
			<div class="">
				<div class="form-group" ng-class="{ 'has-error' : updatePeoplezhichengform.name.$invalid && !updatePeoplezhichengform.name.$pristine }">
					<label class="col-md-4 control-label">技术任职资格职称</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="newdata.title_name">
								<ui-select-match  placeholder="请选择技术任职资格职称">{{$select.selected.dz}}</ui-select-match>
								<ui-select-choices repeat="item in elementSelect.jishurenzhizige | filter: $select.search">
									<div  ng-bind-html="item.dz | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : updatePeoplezhichengform.get_date.$invalid && !updatePeoplezhichengform.get_date.$pristine }">
					<label class="col-md-4 control-label">获得资格日期</label>
					<div class="col-md-8" style="padding-left: 0px" ng-controller="DatepickerDemoCtrl">
						<div  class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newdata.get_date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">取消</button>
	<button class="btn btn-primary"   ng-click="ok()">确定</button>
	<!--ng-disabled="updatePeoplezhichengform.$invalid"-->
</div>