<div class="modal-header">
	<div style="position: relative">
		<span >
			<h3 class="modal-title">添加职称</h3>
		</span>
	</div>
</div>
<div class="modal-body" ng-controller="SetPeopleCtrl as vm">
	<form name="addPeoplezhiwuform" class="form-horizontal">
		<div class="row">
			<div class="">
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.name.$invalid && !addPeoplezhiwuform.name.$pristine }">
					<label class="col-md-4 control-label">技术任职资格职称</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.leibie">
								<ui-select-match  placeholder="请选择技术任职资格职称">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="item in zhicheng | filter: $select.search">
									<div  ng-bind-html="item.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.birthday.$invalid && !addPeoplezhiwuform.birthday.$pristine }">
					<label class="col-md-4 control-label">获得资格日期</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="getdate" type="date" ng-model="zhicheng.getdate" required>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.jiguan.$invalid && !addPeoplezhiwuform.jiguan.$pristine }">
					<label class="col-md-4 control-label">聘任时间</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<input class="form-control" name="pinrengdate" type="date" ng-model="zhicheng.date" required>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : addPeoplezhiwuform.jiankang.$invalid && !addPeoplezhiwuform.jiankang.$pristine }">
					<label class="col-md-4 control-label">级别</label>
					<div class="col-md-8 row">
						<div  class=" m-l-n">
							<ui-select theme="bootstrap"  ng-model="zhiwu.leibie">
								<ui-select-match  placeholder="请选择级别">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="item in zhichengjibie | filter: $select.search">
									<div  ng-bind-html="item.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">取消</button>
	<button class="btn btn-primary"  ng-disabled="addPeoplezhiwuform.$invalid"  ng-click="ok()">确定</button>
</div>