<div ng-controller="SetTreeCtrl" ng-init="isEditZW=false">
     <script type="text/ng-template" id="saveAddZWModel.html">
          <div ng-include="'/public/app/tpl/ui_treezwadd_modal.html'"></div>
     </script>
     <script type="text/ng-template" id="updateZWModel.html">
          <div ng-include="'/public/app/tpl/ui_treezwupdate_modal.html'"></div>
     </script>
     <script type="text/ng-template" id="deleteZWModel.html">
          <div ng-include="'/public/app/tpl/ui_treezwdelete_modal.html'"></div>
     </script>
     <script type="text/ng-template" id="saveTreeModel.html">
          <div ng-include="'/public/app/tpl/ui_tree_modal.html'"></div>
     </script>
     <script type="text/ng-template" id="saveAddTreeModel.html">
          <div ng-include="'/public/app/tpl/ui_treeadd_modal.html'"></div>
     </script>
     <script type="text/ng-template" id="deleteTreeModel.html">
          <div ng-include="'/public/app/tpl/ui_treedelete_modal.html'"></div>
     </script>
     <div class="row"  ng-show="!isEditZW">
          <div class="analysis col-md-3">
               <div class="panel panel-default">
                    <div class="panel-heading" style="position: relative">一级树管理
                         <button ng-click="addtree(1,0)" class="btn btn-add btn-href">添加</button>
                    </div>
                    <table st-table="treelist"  class="table table-bordered treetable">
                         <thead>
                         <tr>
                              <th>编码</th>
                              <th>名称</th>
                              <th>操作</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="row in treelist " >
                              <!--<td ng-bind="$index+1">1</td>-->
                              <td>{{row.code}}</td>
                              <td><button class="btn btn-mydefault w-full" ng-click="showsecond(row)"> {{row.name}}</button></td>
                              <td class="mytd">
                                   <button  class="btn-padding btn btn-href " ng-click="updatetree(row)">
                                        修改
                                   </button>
                                   <button  class="btn-padding btn btn-href " ng-click="zhiweilist(row)">
                                        职位
                                   </button>
                                   <button ng-show="!row.nodes.length" class="btn-padding btn btn-href "  ng-click="deletetree(1,$index,row)">
                                        删除
                                   </button>
                              </td>
                         </tr>
                         </tbody>
                    </table>
               </div>
          </div>
          <div ng-show="treelist.length" class="analysis col-md-3">
               <div class="panel panel-default">
                    <div class="panel-heading" style="position: relative">{{second.name}}
                         <button ng-click="addtree(2,second.uuid)" class="btn btn-add btn-href">添加</button>
                    </div>
                    <table st-table="second.nodes"  class="table table-bordered treetable">
                         <thead>
                         <tr>
                              <th width="15%">编码</th>
                              <th width="30%">名称</th>
                              <th width="55%">操作</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="row in second.nodes " >
                              <!--<td ng-bind="$index+1">1</td>-->
                              <td>{{row.code}}</td>
                              <td><button class="btn btn-mydefault" ng-click="showthird(row)"> {{row.name}}</button></td>
                              <td class="mytd">
                                   <button  class="btn-padding btn btn-href " ng-click="updatetree(row)">
                                        修改
                                   </button>
                                   <button  class="btn-padding btn btn-href " ng-click="zhiweilist(row)">
                                        职位
                                   </button>
                                   <button ng-show="!row.nodes.length" class="btn-padding btn btn-href "  ng-click="deletetree(2,$index,row)">
                                        删除
                                   </button>
                              </td>
                         </tr>
                         </tbody>
                    </table>
               </div>
          </div>
          <div ng-show="second.nodes.length" class="analysis col-md-3">
               <div class="panel panel-default">
                    <div class="panel-heading" style="position: relative">{{third.name}}
                         <button ng-click="addtree(3,third.uuid)" class="btn btn-add btn-href"  >添加</button>
                    </div>
                    <table st-table="third.nodes"  class="table table-bordered treetable" ng-if="third.nodes.length">
                         <thead>
                         <tr>
                              <th width="20%">编码</th>
                              <th width="30%">名称</th>
                              <th width="50%">操作</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="row in third.nodes " >
                              <!--<td ng-bind="$index+1">1</td>-->
                              <td>{{row.code}}</td>
                              <td><button class="btn btn-mydefault w-full" ng-click="showfouth(row)"> {{row.name}}</button></td>
                              <td class="mytd">
                                   <button  class="btn-padding btn btn-href " ng-click="updatetree(row)">
                                        修改
                                   </button>
                                   <button  class="btn-padding btn btn-href " ng-click="zhiweilist(row)">
                                        职位
                                   </button>
                                   <button ng-show="!row.nodes.length"  class="btn-padding btn btn-href "  ng-click="deletetree(3,$index,row)">
                                        删除
                                   </button>
                              </td>
                         </tr>
                         </tbody>
                    </table>
               </div>
          </div>
          <div ng-show="third.nodes.length" class="analysis col-md-3">
               <div class="panel panel-default">
                    <div class="panel-heading" style="position: relative">{{fouth.name}}
                         <button ng-click="addtree(4,fouth.uuid)" class="btn btn-add btn-href">添加</button>
                    </div>
                    <table st-table="fouth.nodes"  class="table table-bordered treetable" >
                         <thead>
                         <tr>
                              <th>编码</th>
                              <th>名称</th>
                              <th>操作</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="row in fouth.nodes " >
                              <!--<td ng-bind="$index+1">1</td>-->
                              <td>{{row.code}}</td>
                              <td>{{row.name}}</td>
                              <td class="mytd">
                                   <button  class="btn-padding btn btn-href " ng-click="updatetree(row)">
                                        修改
                                   </button>
                                   <button  class="btn-padding btn btn-href " ng-click="zhiweilist(row)">
                                        职位
                                   </button>
                                   <button ng-show="!row.nodes.length" class=" btn-padding btn btn-href "  ng-click="deletetree(4,$index,row)">
                                        删除
                                   </button>
                              </td>
                         </tr>
                         </tbody>
                    </table>
               </div>
          </div>
     </div>
     <div class="row" ng-show="isEditZW">
          <div class="panel panel-default">
               <div class="panel-heading" style="position: relative">
                    <button class="btn btn-info" ng-click="isEditZW=false">返回</button>
                    <span style="margin-left: 20px">{{parenttree.name}}-{{parenttree.uuid}}</span>
                    <button ng-click="addzw(parenttree.uuid)" class="btn btn-add btn-href">添加</button>
               </div>
               <table st-table="editzw.zhiwei"  class="table table-bordered ">
                    <thead>
                    <tr>
                         <th></th>
                         <th>职位名称</th>
                         <th>数量</th>
                         <th>排序</th>
                         <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in editzw | orderBy : 'rank'" >
                         <td ng-bind="$index+1">1</td>
                         <td>{{row.name}}</td>
                         <td>{{row.num}}</td>
                         <td>{{row.rank}}</td>
                         <td>
                              <button  class="btn-padding btn btn-href " ng-click="updatezhiwei(row)">
                                   修改
                              </button>
                              <button  class="btn-padding btn btn-href "  ng-click="deletezhiwei(row)">
                                   删除
                              </button>
                         </td>
                    </tr>
                    </tbody>
               </table>
          </div>

     </div>
</div>