
<div >
     <div  ng-controller="SetPeopleCtrl as vm" >
          <script type="text/ng-template" id="addzhiwuModel.html">
               <div ng-include="'/public/app/tpl/ui_people_zhiwu_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="updatezhiwuModel.html">
               <div ng-include="'/public/app/tpl/ui_people_zhiwu_update_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="addzhichengModel.html">
               <div ng-include="'/public/app/tpl/ui_people_zhicheng_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="updatezhichengModel.html">
               <div ng-include="'/public/app/tpl/ui_people_zhicheng_update_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="addxueliModel.html">
               <div ng-include="'/public/app/tpl/ui_people_xueli_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="updatexueliModel.html">
               <div ng-include="'/public/app/tpl/ui_people_xueli_update_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="addxueweiModel.html">
               <div ng-include="'/public/app/tpl/ui_people_xuewei_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="updatexueweiModel.html">
               <div ng-include="'/public/app/tpl/ui_people_xuewei_update_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="addjiangchengModel.html">
               <div ng-include="'/public/app/tpl/ui_people_jiangcheng_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="updatejiangchengModel.html">
               <div ng-include="'/public/app/tpl/ui_people_jiangcheng_update_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="addkaoheModel.html">
               <div ng-include="'/public/app/tpl/ui_people_kaohe_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="updatekaoheModel.html">
               <div ng-include="'/public/app/tpl/ui_people_kaohe_update_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="addjiatingModel.html">
               <div ng-include="'/public/app/tpl/ui_people_jiating_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="updatejiatingModel.html">
               <div ng-include="'/public/app/tpl/ui_people_jiating_update_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="deleteModel.html">
               <div ng-include="'/public/app/tpl/ui_setting_peoplesdelete_modal.html'"></div>
          </script>
          <script type="text/ng-template" id="savejianliModel.html">
               <div ng-include="'/public/app/tpl/ui_people_savejianli_modal.html'"></div>
          </script>
          <!--<script type="text/ng-template" id="saveUpdatePeopleModel.html">-->
          <!--<div ng-include="'/public/app/tpl/ui_peopleupdate_model.html'"></div>-->
          <!--</script>-->
          <div class="panel panel-default" ng-show="!isedit&&!isadd">
               <div class="row panel-heading" style="position: relative">
                    <div class="form-inline">
                         <label for="inputtt" style="margin-bottom: 0px"><span>人员管理</span></label>
                         <div class="peoplemng form-group ">
                              <div class="input-group">
                                   <span class="input-group-addon">搜索</span>
                                   <input id="inputtt" type="search"  class="form-control" ng-model="searchtext" >
                              </div>
                         </div>
                         <button ng-click="addp()" class="btn btn-href">添加</button>
                    </div>
               </div>
               <div class="row form-inline">
                    <div >
                         <table st-table="peoplelist" class="table table-bordered">
                              <thead>
                              <tr>
                                   <th>姓名</th>
                                   <th>籍贯</th>
                                   <th>出生日期</th>
                                   <th>学历</th>
                                   <th>现任职务</th>
                                   <th>所属班子</th>
                                   <th>入党时间</th>
                                   <th>毕业学校</th>
                                   <th>专业</th>
                                   <th>操作</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr  ng-repeat="people in peoplelist ">
                                   <td>{{people.name}}</td>
                                   <td>{{people.jiguan}}</td>
                                   <td>{{people.birthday}}</td>
                                   <td>{{people.edu_level}}</td>
                                   <td><span ng-repeat="i in people.post_name track by $index">{{i}}、</span></td>
                                   <td><span ng-repeat="i in people.organization_name track by $index">{{i}}<span ng-if="i">、</span></span></td>
                                   <td>{{people.organ_date}}</td>
                                   <td>{{people.school_name}}</td>
                                   <td>{{people.profession_name}}</td>
                                   <td>
                                        <button ng-click="updatepeople(people)" type="button"  class="btn btn-href ">
                                             修改
                                        </button>
                                        <!--<button type="button" ng-click="deletepeople($index,people)" class="btn btn-href ">-->
                                             <!--删除-->
                                        <!--</button>-->
                                   </td>
                              </tr>
                              </tbody>
                         </table>
                    </div>
                    <div class="row">
                         <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
               </div>
          </div>
          <!--<div class="panel panel-default" ng-show="!isedit" ui-view ></div>-->
          <div class="panel panel-default" ng-if="isedit">
               <div class="panel-heading" style="position: relative">
                    <button class="btn btn-info" ng-click="back_people()">返回</button>
                    <span style="margin-left: 20px">{{showtitle}}</span>
                    <!--{{showtitle}}-->
               </div>
               <div ng-include="'/public/app/tpl/ui_peopleupdate_model.html'"></div>
          </div>
          <!--<div class="panel panel-default" ng-if="isadd">-->
               <!--<div class="panel-heading" style="position: relative">-->
                    <!--<button class="btn btn-info" ng-click="back_people()">返回</button>-->
                    <!--<span style="margin-left: 20px">添加用户信息</span>-->
               <!--</div>-->
               <!--<div ng-include="'/public/app/tpl/ui_peopleadd_model.html'"></div>-->
          <!--</div>-->
     </div>
</div>
