<div ng-controller="deployCtrl">
  <div class="modal-header">
    <div style="position: relative">
		<span >
			<h3 class="modal-title">管理查询条件</h3>
		</span>
    </div>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-addtiaojian" ng-click="addtiaojian()">新增查询条件</button>
    <form name="addtreeform" class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
      <table class="table-responsive table-bordered tab-container">
        <thead>
        <tr>
          <td>序号</td>
          <td>关键字</td>
          <td>条件详情</td>
          <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="t in xxx">
          <td>{{t.id}}</td>
          <td>{{t.name}}</td>
          <td>{{t.queryString}}</td>
          <td ng-click="delLable(t.id)">删除
            <!--<span class="fa fa-long-arrow-down"></span>-->
            <!--<span class="fa fa-long-arrow-up"></span>-->
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
  </div>
</div>