
<div class="row hbox hbox-auto-xs hbox-auto-sm" ng-controller="WorktipFormController">
    <!--<div class="bg-light md-whiteframe-z0 md-aside md-content hidden-xs affix" >-->
        <!--<nav ui-nav  ng-include="'/public/app/tpl/blocks/nosearch.nav.html'"></nav>-->
    <!--</div>-->
    <div class="md-right">
        <div class="col-md-3  bg-light dk b-r bg-auto" style="padding-left: 5px;padding-right: 0px;><!--  style="position:fixed"  -->
        <div class="" id="tipinfo-menu">
            <div ng-click="isedit=true" class="btn markerManage btn-dark   font-bold">管理标签</div>
            <hr class="markerHr"/>
            <ul class="treeMain nav nav-pills nav-stacked ">
                <li ui-sref-active="active">
                    <a ng-click="clickleft()" ui-sref="notree.worktip.list({pid:item.id})">
                        全部
                    </a>
                </li>
                <li ng-repeat="item in tipinfo" ui-sref-active="active">
                    <a  ng-click="clickleft()" ui-sref="notree.worktip.list({pid:item.id})">
                        {{item.name}}
                    </a>
                </li>
            </ul>
            <!--<ul class="nav nav-pills nav-stacked ">-->
            <!--<li ui-sref-active="active">-->
            <!--<a ng-click="isedit=false">-->
            <!--全部-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-repeat="item in tipinfo" ui-sref-active="active">-->
            <!--<a  ng-click="isedit=true">-->
            <!--{{item.name}}-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--<a ui-sref="notree.worktip.edit" class="btn btn-dark w-full font-bold">管理标签</a>-->
        </div>
    </div>
    <!--<div class="workBgColor col-md-9" style="">-->
    <!--<div ui-view ></div>-->

    <!--</div>-->
    <!--</div>-->

    <div class="workBgColor col-md-9" style="">
        <div ng-show="!isedit" ui-view ></div>
        <div ng-show="isedit">
            <div class="panel panel-default">
                <div class="panel-heading">配置标签属性</div>
                <div class="panel-body">
                    <form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="addtip()">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">标签名称:</label>
                            <div class="col-lg-8" style="margin-left: 10px;">
                                <input type="text" class="form-control" ng-model="name" placeholder="请输入标签名称">
                                <!--  <span class="help-block m-b-none">Example block-level help text here.</span> -->
                            </div>
                        </div>
                        <div class="form-group" id="formList">
                            <label class="col-lg-2 control-label">定义条件</label>
                            <div class="col-lg-8 form-inline " style="margin-left: 10px;">
                                <span>字段：</span>
                                <select name="ziduan" class="form-control">
                                    <option value="zhiji">职级</option>
                                    <option value="xingbie">性别</option>
                                    <option value="xueli">学历</option>
                                    <option value="zhengzhi">政治面貌</option>
                                    <option value="zhengzhi">年龄</option>
                                </select>
                                <span>关系：</span>
                                <select name="guanxi" class="form-control">
                                    <option value="=">等于</option>
                                    <option value=">">大于</option>
                                    <option value="<">小于</option>
                                </select>
                                <span>值：</span><input type="text" class="form-control" placeholder="请输入自定义的值">
                                <button type="button" class="btn btn-default btn-md" ng-click="addCondition()">
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-sm btn-info w">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading blue-600 ">标签列表</div>
                <div class="panel-body">
                    <table st-table="tipinfo"  class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in tipinfo" >
                            <td ng-bind="$index+1">1</td>
                            <td>{{row.name}}</td>
                            <td>
                                <button  class="btn btn-info " ng-click="updatetip(row)">
                                    修改
                                </button>
                                <button  class="btn btn-info "  ng-click="deletetip($index)">
                                    删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="10" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPageone" st-displayed-pages="7" class="no-margin"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!--<div class="row" ng-show="!isedit" ng-include="'/public/app/tpl/worktip.list.html'"></div>-->
        <!--<div class="row"></div>-->
    </div>
</div>


