<nav ui-nav class="navi clearfix" ng-include="'/public/app/tpl/blocks/material.nav.html'"></nav>
<!--&lt;!&ndash;&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;<nav ui-nav class="navi clearfix" ng-include="'/public/app/tpl/blocks/material.nav.html'"></nav>&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; aside footer &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; <div class="wrapper m-t">&ndash;&gt;-->
	<!--&lt;!&ndash;<div class="text-center-folded">&ndash;&gt;-->
		<!--&lt;!&ndash;<span class="hidden-folded">共有<font color="red" >32</font>个班子     <font color="red">432</font>人</span>&ndash;&gt;-->
	<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; nav &ndash;&gt;&ndash;&gt;-->
<!--<ul class="nav">-->
	<!--<li class="active">-->
		<!--<a href md-ink-ripple class="auto">-->
		  <!--<span class="pull-right text-muted">-->
			<!--<i class="fa fa-fw fa-angle-right text"></i>-->
			<!--<i class="fa fa-fw fa-angle-down text-active"></i>-->
		  <!--</span>-->
			<!--<i class="glyphicon glyphicon-th icon"></i>-->
			<!--<span class="font-normal">单位树</span>-->
		<!--</a>-->
		<!--<div flex class="vbox">-->
			<!--<div class=""> &lt;!&ndash; wrapper &ndash;&gt;-->
				<!--<div class="input-group">-->
					<!--<input type="text" class="form-control input-sm" placeholder="search" ng-model="query">-->
					<!--<span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AbnTestController">-->

				<!--<div class="col">-->
					<!--<div class="">&lt;!&ndash; wrapper-md &ndash;&gt;-->
						<!--<div class="b-a bg-light dk r r-2x">-->
							<!--<span ng-if="doing_async">...loading...</span>-->
							<!--<abn-tree tree-data="my_data" tree-control="my_tree"-->
									  <!--on-select="my_tree_handler(branch)" expand-level="2"-->
									  <!--initial-selection="Granny Smith" icon-leaf="fa fa-file-o"-->
									  <!--icon-expand="fa fa-plus" icon-collapse="fa fa-minus">-->
							<!--</abn-tree>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

		<!--</div>-->
	<!--</li>-->
	<!--</ul>-->

<!--<div class="clearfix" id="aside-user">-->
	<!--<div class="wrapper blue-100">-->

		<!--<a href class="hidden-folded" ui-toggle-class="show" target="#user">-->
      <!--<span class="block m-t-sm auto">-->
        <!--<span class="pull-right">-->
          <!--<i class="fa fa-fw fa-caret-down text"></i>-->
          <!--<i class="fa fa-fw fa-caret-up text-active"></i>-->
        <!--</span>-->
        <!--<strong class="font-bold text-lt">John.Smith@gmail.com</strong>-->
      <!--</span>-->
			<!--<span class="text-xs block">Art Director</span>-->
		<!--</a>-->
	<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; / user &ndash;&gt;-->

<!--&lt;!&ndash; nav &ndash;&gt;-->
<!--<nav class="navi hide" id="user">-->
	<!--<div flex class="vbox">-->
		<!--<div class=""> &lt;!&ndash; wrapper &ndash;&gt;-->
			<!--<div class="input-group">-->
				<!--<input type="text" class="form-control input-sm" placeholder="search" ng-model="query">-->
				<!--<span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AbnTestController">-->

			<!--<div class="col">-->
				<!--<div class="">&lt;!&ndash; wrapper-md &ndash;&gt;-->
					<!--<div class="b-a bg-light dk r r-2x">-->
						<!--<span ng-if="doing_async">...loading...</span>-->
						<!--<abn-tree tree-data="my_data" tree-control="my_tree"-->
								  <!--on-select="my_tree_handler(branch)" expand-level="2"-->
								  <!--initial-selection="Granny Smith" icon-leaf="fa fa-file-o"-->
								  <!--icon-expand="fa fa-plus" icon-collapse="fa fa-minus">-->
						<!--</abn-tree>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

	<!--</div>-->
<!--</nav>-->
